.jumbotron {
    text-align: center;
}

body {
    background-color: black;
}

.container {
    width: 100%;
}

.save {
    text-align: center;
}

.save-button {
    background-color: rgb(0, 187, 194);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}
